<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>controllers.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFeedbackController</servlet-name>
        <servlet-class>controllers.RemoveFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsController</servlet-name>
        <servlet-class>controllers.AddNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNewsController</servlet-name>
        <servlet-class>controllers.ViewNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveNewsController</servlet-name>
        <servlet-class>controllers.RemoveNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewsController</servlet-name>
        <servlet-class>controllers.UpdateNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEditNewsController</servlet-name>
        <servlet-class>controllers.ConfirmEditNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNewsController</servlet-name>
        <servlet-class>controllers.SearchNewsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/ViewFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFeedbackController</servlet-name>
        <url-pattern>/RemoveFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsController</servlet-name>
        <url-pattern>/AddNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNewsController</servlet-name>
        <url-pattern>/ViewNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveNewsController</servlet-name>
        <url-pattern>/RemoveNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewsController</servlet-name>
        <url-pattern>/UpdateNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEditNewsController</servlet-name>
        <url-pattern>/ConfirmEditNewsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNewsController</servlet-name>
        <url-pattern>/SearchNewsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
